<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href='C:\Users\feuer\OneDrive\Dokumente\DLRG\Wettkampfrechner\tamplate\einstellungen.css'>
    <title>Einstellungen</title>
</head>
</head>
<body>
    <div class="startup"  ></div>
    <form method="post" action="/einstellungen" >
        <input type="submit" value="home" name="home" style="width:25%;  height:10vh"/>
        <br/>
	    <input type="submit" value="Urkunden" name="urkunden_bt" style="width:25%;  height:10vh"/>
        <br/>
        {{visibility_urkunde}}
        <div class = "urkunde" style = "display:{{display_urkunde}}"  >
          <form method="post" action="/downloade_urkunden">
             <h1>Hochgeladene Urkunden: </h1>
			 	{% for file in urkunden %}
				 <a href="{{ url_for('downloade', filename=file) }}" >{{ file }}</a>
                <br/>
				{% endfor %}
			</form>
            <form action = "/einstellungen" method = "post" enctype="multipart/form-data">
                <label for ="urkunde"> neue Urkunde: </label>
                <input type = "file" name ="urkunde" id = "urkunde"/>
                <label for = "disziplin_urkunde">Disziplin: </label>
                <input type = "text" name="disziplin_urkunde" id = "disziplin_urkunde"/>
                <input type = "submit" name = "uploade_urkunde_bt" value = "uploade"/>
            </form>
            <br/>
        </div>
        <form method="post" action="/einstellungen" >
            <input type="submit" value="Teilnehmer" name="teilnehmer_bt" style="width:25%;  height:10vh"/>
            <br/>
              <div class = "Teilnehmer" style = "display:{{display_teilnehmer}}" action = "/einstellungen">
                  <form action = "/einstellungen" method = "post" enctype="multipart/form-data">
                      <label for ="teilnehmer_file"> Teilnehmer Liste hinzufügen: </label>
                      <input type = "file" name ="teilnehmer_file" id = "teilnehmer_file"/>
                      <input type = "submit" name = "uploade_urkunde_bt" value = "uploade"/>
                      <br/>
                  </form>
                  <input type="submit" name="show_teilnehmer_bt" value = "Teilnehmer anzeigen"/>
                  <br/>
                  <div class = "Teilnehmer_list" style = "display:{{display_teilnehmer_list}}">
                      <table rules = all border = [10px]>
                          <tr>
                              <th>Teilnehmer Nummer</th>
                              <th>Vorname</th>
                              <th>Nachname</th>
                              <th>Verein</th>
                              <th>Altersklasse</th>
                              <th>Disziplin</th>
                          </tr>
                         {% for teilnehmer in Teilnehmer_array %}
                          <tr>
                              {% for spalte in teilnehmer %}
                              <td>{{spalte}}</td>
                              {% endfor %}
                          </tr>
                          {% endfor %}
                      </table>
                  </div>
              </div>
        </form>
        <input type="submit" value="Zurücksetzen" name="reset_bt" style="width:24%;  height:10vh"/>
        <br/>
        <label for="datum_textfield" >Datum: </label>
        <input type = "text" id = "datum_textfield" name = "datum_textfield" />
        <input type = "submit" value="enter" name ="neue_datum_bt"/>
    </form>





</body>
</html>