<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href='/staticFiles/main.css' />
	<meta charset="UTF-8">
  <title>Start</title>
  </head>
  <body>
			<form method="post" action="/">
			<input type="submit" value="zeitmessung start" name="zeitmessung_start" style="width:33%;  height:10vh"/>
			<input type="submit" value="Auswertung start" name="auswertung_start"  style="width:33%;  height:10vh"/>
			<input type="submit" value="Einstellungen" name="einstellungen_button"  style="width:33%;  height:10vh"/>
			<label style="width:33%;  height:10vh">Disziplin:</label>
			<select style="width:15%;  height:10vh" name="Disziplin">
			{%for text in disziplinen %}
            <option value="{{text}}">{{text}}</option>
            {% endfor %}
        </select>
			<input type="submit" value="export" name="export"  style="width:15%;  height:10vh"/>
			<button type="submit">Submit</button>
</form>