<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
  <title>Start</title>
	<link rel="stylesheet" href="/static/styles.css">
</head>
 <body >
	<div class="startup" style="display:{{display_startup}}">
		<form method="post" action="/zeit_messung">
			<input type="submit" value="start" name="start_button"  style="width: 50%; height:50vh; margin:25%"/>
        </select>
		</form>
	</div>		
    <div class="calbottom" style="display:{{ display_zeit_stoppen }}">
		<form method="post" action="/zeit_messung">
		<input type="submit" value="home" name="home_button" >
		</form>
		<form method="post" action="/zeit_messung">
			<div class = "num_bt" >
				<input type="submit" value="1" name="Zahlen_button"/>
				<input type="submit" value="2" name="Zahlen_button">
				<input type="submit" value="3" name="Zahlen_button"/>
				<input type="submit" value="4" name="Zahlen_button">
				<input type="submit" value="5" name="Zahlen_button"/>
				<input type="submit" value="6" name="Zahlen_button"/>
				<input type="submit" value="7" name="Zahlen_button"/>
				<input type="submit" value="8" name="Zahlen_button"/>
				<input type="submit" value="9" name="Zahlen_button"/>
				<input type="submit" value="back" name="back_button"/>
				<input type="submit" value="0" name="Zahlen_button"/>
				<input type="submit" value="enter" name="enter_button" />
			</div>
			<br>
			<p>Teilnehmernummer:  {{prediction_text}}</p>

	</form>

  </div>
 <div class="finisher"  style="visibility:{{ visibility }}">
	 <p> Letzte Ergebnisse</p>
	 <table border = 2 rules = all style="width:100%; height:10vh">
		 <tr>
   		<th> Teilnehmer Nummer</th>
   		<th> Teilnehmer Name </th>
   		<th> Teilnehmer Zeit </th>

	 </tr>
	 {% for teilnehmer in teilnehmer_list %}
	 <TR>
   		<td> {{teilnehmer.nummer}}</td>
   		<td> {{teilnehmer.name}}</td>
   		<td> {{teilnehmer.zeit}}</td>
	 {% endfor %}
	 </TR>
	 </table>
</body>
</html>