<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
  <title>Start</title>
	<link rel="stylesheet" href="C:\Users\feuer\OneDrive\Dokumente\DLRG\Wettkampfrechner\tamplate\static\styles_zeit.css">
</head>
 <body >
 <p>Dies ist eine Überschrift</p>
	<div class="startup" style="visibility:{{ visibility_startup }};">
		<form method="post" action="/zeit_messung">
			<input type="submit" value="start" name="start_button"/>
			<label>Disziplin:</label>
			<select name="Disziplin">
			{%for text in disziplinen %}
            <option value="{{text}}">{{text}}</option>
            {% endfor %}
        </select>
		</form>
	</div>		
    <div class="calbottom" style="visibility:{{ visibility }}">
		 <p>Strecke: {{disziplin}}</p>
		<input type="submit" value="home" name="home_button"/>
		<form method="post" action="/zeit_messung">
			<input type="submit" value="1" name="Zahlen_button" style="width:33%;  height:10vh"/>
			<input type="submit" value="2" name="Zahlen_button" style="width:33%; height:10vh"/>
			<input type="submit" value="3" name="Zahlen_button" style="width:33%; height:10vh"/>
			<input type="submit" value="4" name="Zahlen_button" style="width:33%; height:10vh"/>
			<input type="submit" value="5" name="Zahlen_button"style="width:33%; height:10vh"/>
			<input type="submit" value="6" name="Zahlen_button" style="width:33%; height:10vh"/>
			<input type="submit" value="7" name="Zahlen_button" style="width:33%; height:10vh"/>
			<input type="submit" value="8" name="Zahlen_button" style="width:33%; height:10vh"/>
			<input type="submit" value="9" name="Zahlen_button" style="width:33%; height:10vh"/>
			<input type="submit" value="back" name="back_button" style="width:33%; height:10vh"/>
			<input type="submit" value="0" name="Zahlen_button" style="width:33%; height:10vh"/>
			<input type="submit" value="enter" name="enter_button" style="width:33%; height:10vh"/>

			<br>
			<p>Teilnehmernummer:  {{prediction_text}}</p>

	</form>

  </div>
 <div class="finisher"  style="visibility:{{ visibility }}">
	 <p> Letzte Ergebnisse</p>
	 <table border = 2 rules = all style="width:100%; height:10vh">
		 <tr>
   		<th> Teilnehmer Nummer</th>
   		<th> Teilnehmer Name </th>
   		<th> Teilnehmer Zeit </th>

	 </tr>
	 {% for teilnehmer in teilnehmer_list %}
	 <TR>
   		<td> {{teilnehmer.nummer}}</td>
   		<td> {{teilnehmer.name}}</td>
   		<td> {{teilnehmer.zeit}}</td>
	 {% endfor %}
	 </TR>
	 </table>
</body>
</html>